In [ ]:
# do not run this file- data paths are no longer vailid. files are too large to save to repo.

In [1]:
import pandas as pd

In [2]:
aug_19 = pd.read_csv("Data/201908-citibike-tripdata.csv")
sept_19 = pd.read_csv("Data/201909-citibike-tripdata.csv")
oct_19 = pd.read_csv("Data/201910-citibike-tripdata.csv")

aug_20 = pd.read_csv("Data/202008-citibike-tripdata.csv")
sept_20 = pd.read_csv("Data/202009-citibike-tripdata.csv")
oct_20 = pd.read_csv("Data/202010-citibike-tripdata.csv")


aug_19.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2

In [12]:
# combine all csv files into 1 db

combined_df = pd.concat([aug_19, sept_19, oct_19, aug_20, sept_20, oct_20])

combined_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2

In [13]:
# drop columns
combined_df.drop(columns=['bikeid', 'stoptime', 'start station id', 'end station id'], inplace=True)

In [14]:
# change gender to male / female
combined_df["gender"].replace({1: 'Male', 2: 'Female', 0: 'Unknown'}, inplace=True)

combined_df.head()

,tripduration,starttime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender
0,393,2019-08-01 00:00:01.4680,Forsyth St & Broome St,40.718939,-73.992663,Market St & Cherry St,40.710762,-73.994004,Subscriber,1996,Female
1,627,2019-08-01 00:00:01.9290,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,Bergen St & Smith St,40.686744,-73.990632,Subscriber,1998,Female
2,1132,2019-08-01 00:00:04.0480,Front St & Washington St,40.702551,-73.989402,President St & Henry St,40.682800,-73.999904,Subscriber,1988,Male
3,1780,2019-08-01 00:00:04.1630,9 Ave & W 45 St,40.760193,-73.991255,Rivington St & Chrystie St,40.721101,-73.991925,Subscriber,1988,Male
4,1517,2019-08-01 00:00:05.4580,1 Ave & E 94 St,40.781721,-73.945940,1 Ave & E 94 St,40.781721,-73.945940,Subscriber,1965,Female

In [15]:
#break out year

combined_df['Trip Year'] = combined_df.starttime.str.split("-", expand=True)[0]
combined_df.head()

,tripduration,starttime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender,Trip Year
0,393,2019-08-01 00:00:01.4680,Forsyth St & Broome St,40.718939,-73.992663,Market St & Cherry St,40.710762,-73.994004,Subscriber,1996,Female,2019
1,627,2019-08-01 00:00:01.9290,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,Bergen St & Smith St,40.686744,-73.990632,Subscriber,1998,Female,2019
2,1132,2019-08-01 00:00:04.0480,Front St & Washington St,40.702551,-73.989402,President St & Henry St,40.682800,-73.999904,Subscriber,1988,Male,2019
3,1780,2019-08-01 00:00:04.1630,9 Ave & W 45 St,40.760193,-73.991255,Rivington St & Chrystie St,40.721101,-73.991925,Subscriber,1988,Male,2019
4,1517,2019-08-01 00:00:05.4580,1 Ave & E 94 St,40.781721,-73.945940,1 Ave & E 94 St,40.781721,-73.945940,Subscriber,1965,Female,2019

In [16]:
#break out month
combined_df['Trip Month'] = combined_df.starttime.str.split("-", expand=True)[1]
combined_df.head()

combined_df["Trip Month"].replace({"08": "August", "09": "September", "10": "October"}, inplace=True) 
combined_df

,tripduration,starttime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender,Trip Year,Trip Month
0,393,2019-08-01 00:00:01.4680,Forsyth St & Broome St,40.718939,-73.992663,Market St & Cherry St,40.710762,-73.994004,Subscriber,1996,Female,2019,August
1,627,2019-08-01 00:00:01.9290,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,Bergen St & Smith St,40.686744,-73.990632,Subscriber,1998,Female,2019,August
2,1132,2019-08-01 00:00:04.0480,Front St & Washington St,40.702551,-73.989402,President St & Henry St,40.682800,-73.999904,Subscriber,1988,Male,2019,August
3,1780,2019-08-01 00:00:04.1630,9 Ave & W 45 St,40.760193,-73.991255,Rivington St & Chrystie St,40.721101,-73.991925,Subscriber,1988,Male,2019,August
4,1517,2019-08-01 00:00:05.4580,1 Ave & E 94 St,40.781721,-73.945940,1 Ave & E 94 St,40.781721,-73.945940,Subscriber,1965,Female,2019,August
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248864,1120,2020-10-31 23:59:48.4470,Grand St & Havemeyer St,40.712868,-73.956981,Bushwick Ave & McKibbin St,40.705517,-73.939360,Customer,1996,Male,2020,October
2248865,859,2020-10-31 23:59:49.3770,St. Nicholas Terrace & Convent Ave,40.821294,-73.947868,Hamilton Pl & W 140 St,40.822756,-73.951346,Customer,1999,Male,2020,October
2248866,546,2020-10-31 23:59:52.1040,W 145 St & Amsterdam Ave,40.825244,-73.947257,Amsterdam Ave & W 167 St,40.839443,-73.937044,Subscriber,1976,Male,2020,October
2248867,748,2020-10-31 23:59:53.0290,Cliff St & Fulton St,40.708380,-74.004950,E 7 St & Avenue A,40.726218,-73.983799,Subscriber,1997,Female,2020,October
2248868,1366,2020-10-31 23:59:57.9770,Broadway & E 22 St,40.740343,-73.989551,Broadway & W 56 St,40.765265,-73.981923,Subscriber,1974,Female,2020,October

In [26]:
#save new csv

combined_df.to_csv(r'Data/clean_df.csv')